

@font-face {
  font-family: "DegularText";
  src: url("../assets/fonts/DegularText/DegularText-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DegularText-Mono";
  src: url("../assets/fonts/DegularMono/DegularMono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DegularText";
  src: url("../assets/fonts/DegularText/DegularText-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DegularText-Mono";
  src: url("../assets/fonts/DegularMono/DegularMono-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DegularText";
  src: url("../assets/fonts/DegularText/DegularText-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
